<link rel="stylesheet" href="/css/gameRules.css?v=1.1">
<div id="gameRulesModal" class="gameRulesModal">
    <div class="gameRulesModal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <h2>Oyun Kuralları</h2>
        <p>
            Oyunda dikkat edilmesi gereken kurallar aşağıda özetlenmiştir:
        </p>
        <h3>1. Oda Kurulumu</h3>
        <ul>
            <li>Oda kurucusu, kategori ve soru sayısını seçerek odayı oluşturur.</li>
            <li>Sistem, oda numarasını kurucuya gösterir.</li>
            <li>Oda kurucusu, oda numarasını katılacak oyuncularla paylaşır.</li>
        </ul>
        <h3>2. Oyuncu Katılımı</h3>
        <ul>
            <li>Oyuncular, "Odaya Katıl" penceresinde oda numarası ve kullanıcı adını girer.</li>
            <li>"Hazırım" butonuna tıkladıktan sonra, oda katılımcıları güncellenir.</li>
            <li>Tüm oyuncular katıldığında oda kurucusu oyunu başlatır.</li>
        </ul>
        <h3>3. Oyun Başlangıcı ve Süreç</h3>
        <ul>
            <li>Oyun başladıktan sonra, her tur 10 saniye içinde başlar.</li>
            <li>Oyuncular, açılan kutudaki kelimeye ve soruya göre cevap verir.</li>
            <li>Her kullanıcının soruyu cevaplamak için 15 saniyesi vardır.</li>
            <li>Her kelimenin eş anlamlısı olduğunu ve bu yüzden bir sorunun birden fazla cevabı olabileceğini unutma!</li>
        </ul>
        <h3>4. Puanlama Sistemi</h3>
        <ul>
            <li>Doğru cevap veren her oyuncuya +10 puan verilir.</li>
            <li>Skor tablosu, her turda otomatik olarak güncellenir.</li>
            <li>Puanlar eşit ise sorulara daha kısa sürede cevap veren oyuncu sıralamada önde olur.</li>
        </ul>
        <p>
            Oyunun kuralları basit: <strong>Hızlı düşün, doğru tahmin et, zirveye çık!</strong>
        </p>
    </div>
</div>
