<link rel="stylesheet" type="text/css" href="/css/main-routes.css">
<body>
  <div class="container-head">
    <div class="header">
      <div class="header-content">
        <span class="badge">Eğlen, Öğren, Geliş!</span>
        <h1>Kelime Kutularıyla İngilizce Öğrenmeye Başla!</h1>
        <p class="p-content"> Özenle hazırlanmış kutularla veya kendi kutunuzu oluşturarak öğrenme yolculuğunuza
          başlayın. <br>
          Kelime seviye testleriyle seviyenizi öğrenin! <br>
          Arkadaşlarınızla oda kurarak eğlenceli bir rekabet ortamı yaratın ve birlikte öğrenmenin tadını çıkarın! </p>
        <p class="mobil-p-content">
          Özenle hazırlanmış kutularla veya kendi kutunuzu oluşturarak öğrenme yolculuğunuza başlayın.
        </p>
      </div>
      <img src="/images/kutu.gif" alt="Kelime Kutuları" class="hero-image" />
    </div>
    <div class="feature-cards">
      <div class="feature-card" id="main-boxes-page">
        <span class="icon"><img src="/images/box-click.webp" width="60px" height="60px" alt="Kutulara Tıkla"></span>
        <h3>Kutulara Tıkla</h3>
        <p>Özenle hazırlanmış kelime kutularına tıklayın ve kelime çalışmanızı başlatın.</p>
      </div>
      <div class="feature-card" id="create-box-page">
        <span class="icon"><img src="/images/box-create.webp" width="60px" height="60px" alt="Kutunu Oluştur"></span>
        <h3>Kutunu Oluştur</h3>
        <p>İhtiyacınıza göre kişisel kelime kutunuzu oluşturun, ezberlemek istediğiniz kelimelerle çalışmaya başlayın.
        </p>
      </div>
      <div class="feature-card" id="learn-level-page">
        <span class="icon"><img src="/images/learn-level.webp" width="60px" height="60px" alt="Seviyeni Test Et"></span>
        <h3>Seviyeni Test Et</h3>
        <p>Kelime bilginizi test edip hangi seviyede olduğunuzu öğrenmek için kelime testi yapın.</p>
      </div>
      <div class="feature-card" id="competition-page">
        <span class="icon"><img src="/images/competition.webp" width="60px" height="60px" alt="Yarışmalara Katıl"></span>
        <h3>Yarışmalara Katıl</h3>
        <p>Arkadaşlarınızla yarışarak İngilizce kelime bilginizi eğlenceli bir şekilde geliştirin.</p>
      </div>
    </div>
    <div id="words"></div>
  </div>
</body>
<script src="/js/main-routes.js"></script>