<link rel="stylesheet" type="text/css" href="/css/navbar.css?v=1.3">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<div class="navbar">
    <div class="navbar-brand" id="wordBoxBrand">
        W<i class="fa-solid fa-cube"></i>rd 
        B<i class="fa-solid fa-cube"></i>x</div>
    <div class="navbar-menu">
        <a  id="newRoom">Arkadaşlarınla Oyna</a>
    </div>
</div>
<script src="/js/navbar.js?v=1.2"></script>