<link rel="stylesheet" type="text/css" href="/css/routes.css">
<section id="how-to-use">

    <div class="how-to-use-content">
        <div class="info-content">
            <h2>kutukutukelime.com </h2>
            <p>
                <strong>kutukutukelime.com</strong>, dil öğrenme sürecinizi eğlenceli ve verimli hale getiren mükemmel bir araçtır. 
                Kelime kutularımızı seçerek hemen öğrenmeye başlayabilir, hatta kendi kelime kutunuzu oluşturup arkadaşlarınızla paylaşabilirsiniz.
            </p>
            <p>
                Kendi kelime kutunuzu oluşturmak için aşağıdaki adımları takip edin. 
                Başarıyla tamamladığınızda, dil becerilerinizi geliştirin ve arkadaşlarınızla paylaşarak öğrenme deneyiminizi zenginleştirin. <br>
            </p>
        </div>
        
        <h2>Kelime Kutusu Nasıl Oluşturulur?</h2>
        <h3 id="myboxNone">Kelime Kutusu Oluştur 'a tıkladıktan sonra aşağıdaki adımları takip edin: </h3>
        <div class="step">
            <div class="step-text">
                <h3>1. Kelime Listenizi Oluşturun</h3>
                <h4>Başlamak için, çalışmak istediğiniz kelimeleri "English Word" ve "Turkish Word" giriş alanlarına girerek bir liste oluşturun. Bu liste, kelime kutunuzun temelini oluşturacak.</h4>
            </div>
            <div class="step-image">
                <img src="/images/adm1.webp" alt="ing-tr Kelime Listesi Oluşturma">
            </div>
        </div>

        <div class="step">
            <div class="step-image">
                <img src="/images/adm2.webp" alt="Kelimeleri Kutuya Ekleyin">
            </div>
            <div class="step-text">
                <h3>2. Kelimeleri Kutuya Ekleyin</h3>
                <h4>Kelimelerinizi oluşturduğunuz listeye eklemek için "Add Box" butonuna tıklayın. Bu adım, kelimelerinizin kutuya dahil edilmesini sağlar.</h4>
            </div>
        </div>

        <div class="step">
            <div class="step-text">
                <h3>3. Kelimeleri Silebilirsiniz</h3>
                <h4>Listeye eklediğiniz kelimeleri düzenlemek veya silmek için çöp kutusu simgesine tıklayın. Bu, kelime listenizi hızlı ve kolay bir şekilde güncellemenizi sağlar, böylece istediğiniz değişiklikleri rahatça yapabilirsiniz.</h4>
            </div>
            <div class="step-image">
                <img src="/images/adm3.webp" alt="Kelimeleri Silme">
            </div>
        </div>

        <div class="step">
            <div class="step-image">
                <img src="/images/adm4.webp" alt="Kelime Çalışması, Dil Öğrenme">
            </div>
            <div class="step-text">
                <h3>4. Kelime Çalışmanıza Başlayabilirsiniz</h3>
                <h4>Oluşturduğunuz kelime kutusuyla çalışmaya başlamak için "Start" butonuna tıklayın. Bu adım sizi "kutum" sayfasına yönlendirir.</h4>
            </div>
        </div>

        <div class="step">
            <div class="step-text">
                <h3>5. Arkadaşlarınızla paylaşın!</h3>
                <h4>Çalışmanıza başlamadan önce arkadaşlarınızla paylaşın ve rekabeti başlatın! 
                    Birlikte çalışarak öğrenme sürecinizi daha keyifli ve etkili hale getirin. 
                    Arkadaşlarınızla dil becerilerinizi karşılaştırın ve her adımda birbirinize destek olun.
                </h4>

            </div>
            <div class="step-image">
                <img src="/images/adm55.jpg" alt="Kelime Çalışması, Dil Öğrenme">
            </div>
        </div>

        <div class="step">
            <div class="step-image">
                <img src="/images/adm5.webp" alt="Kelime Çalışması, Dil Öğrenme">
            </div>
            <div class="step-text">
                <h3>6. Kutuya Tıklayın!</h3>
                <h4>Çalışmanıza başlamak için kutunun üzerinde "Click" yazan bölgeye tıklayın. Bu, kelime kutunuzun etkileşimli bölümünü başlatır ve çalışmanıza olanak tanır.</h4>
            </div>
        </div>

        <div class="step">
            <div class="step-text">
                <h3>7. Cevabınızı yazın</h3>
                <h4>Kutuya tıkladıktan sonra, kutudan çıkan kelimenin Türkçesi ya da İngilizcesi size sorulacaktır. Soru metni, ilerleme barının hemen altında görünür. Cevabınızı yazıp "Send Reply" butonuna tıklayın.</h4>
            </div>
            <div class="step-image">
                <img src="/images/adm6.webp" alt="Kelime Çalışması, Dil Öğrenme">
            </div>
        </div>

        <div class="step">
            <div class="step-image">
                <img src="/images/adm7.webp" alt="Kelime Çalışması, Dil Öğrenme">
            </div>
            <div class="step-text">
                <h3>8. İlerlemenizi Takip Edin</h3>
                <h4>İlerleme barı, cevaplarınıza göre renk değiştirir ve bu sayede ne kadar ilerlediğinizi kolayca takip edebilirsiniz.</h4>
            </div>
        </div>

        <div class="step">
            <div class="step-text">
                <h3>9. Sonuçlarınıza göz atın.</h3>
                <h4>Çalışma sonunda elde ettiğiniz sonuçları inceleyin. Bu, hangi alanlarda gelişme sağladığınızı görmenize ve gelecekteki çalışmalarınızı daha etkili planlamanıza yardımcı olur.</h4>
            </div>
            <div class="step-image">
                <img src="/images/adm8.webp" alt="Kelime Çalışması, Dil Öğrenme">
            </div>
        </div>

        <h2>Özel Hazırlanmış Kelime Kutuları</h2>
        
        <div class="step">
            <div class="step-text other-text">
                <h3>Ana sayfada bulunan seviye ve kategorilere göre ayrılmış özenle hazırlanmış kelime kutularından herhangi birine tıklayarak 10 kelimelik teste başlayabilirsiniz.
                    Bu testler, İngilizce kelime bilginizi geliştirmenize ve ilerlemenizi takip etmenize yardımcı olacaktır. 
                    Şimdi hemen başlayın ve kelime öğrenme yolculuğunuzda bir adım daha ileriye gidin!</h3>
            </div>
            <div class="step-image">
                <img src="/images/adm9.webp" alt="Özel Hazırlanmış Kelime Öğrenme Kutuları">
            </div>
        </div>

        <h2>Destek & Öneri & İş Birliği</h2>
        <div class="step">
            <div class="step-text other-text">
                <h3>Destek, öneri ve iş birliği için bizimle iletişime geçebilirsiniz:</h3>
            </div>
            <div class="step-image">
                <a href="mailto:info@kutukutukelime.com" target="_blank" class="contact-link">
                    <i class="fas fa-envelope"></i> info@kutukutukelime.com
                </a>
                <a href="https://instagram.com/kutukutukelime" target="_blank" class="contact-link">
                    <i class="fab fa-instagram"></i> kutukutukelime
                </a>
            </div>
        </div>
    </div>
</section>