<link rel="stylesheet" type="text/css" href="/css/show-result.css">

<div class="result-container" id="result-container">
    <div id="resultMessageGame"></div>
    <table class="result-table">
        <thead>
            <tr>
                <th>Soru</th>
                <th>Cevaplar</th>
            </tr>
        </thead>
        <tbody id="resultList"></tbody>
    </table>
</div>
<div class="action-buttons" id="action-buttons" style="display: none;">
    <button id="newGameButton">Yeni Oyun</button>
    <button id="homeButton">Ana Sayfa</button>
</div>