<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LPY9Z1R57Z');
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    script-src 'self' https://www.google-analytics.com https://pagead2.googlesyndication.com https://ep2.adtrafficquality.google; 
    style-src 'self' 'unsafe-inline'; 
    img-src 'self' https://pagead2.googlesyndication.com; 
    connect-src 'self' https://www.google-analytics.com https://pagead2.googlesyndication.com https://ep1.adtrafficquality.google; 
    frame-src 'self' https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://www.google.com; 
    child-src 'self' https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://www.google.com;">
    <meta name="description" content="İngilizce kelime dağarcığınızı genişletmek için özel olarak tasarlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <meta name="og:keywords" content="kelime, kutu, İngilizce öğrenme, kelime testleri, dil öğrenme,kelime çalışması, kelime oyunları,kutukutukelime, kişiye özel kelime, ingilizce türkçe kelime kutusu, wordbox, kelime bilgisi testi, ingilizce kelime testi, ingilizce kelime seviye testi,kutu">
    <meta name="og:description" content="İngilizce kelime dağarcığınızı genişletmek için özel olarak tasarlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Oluşturduğum kelime kutusuna bakmak ister misin?">
    <meta property="og:description" content="İngilizce kelime dağarcığınızı genişletmek için özel olarak tasarlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <meta property="og:image" content="/images/tra.webp" >
    <meta property="og:url" content="https://www.kutukutukelime.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Özenle hazırlanmış kelime kutuları">
    <meta name="twitter:description" content="İngilizce kelime dağarcığınızı genişletmek için özenle hazırlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <link rel="icon" href="/images/box.webp" >
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/idbox.css">

    <title>İngilizce-Türkçe Kelime Kutuları - Kelime Öğrenin - kutukutukelime</title>
    <link rel="canonical" href="https://www.kutukutukelime.com/kategori_verb" />
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container-box" id="data-container" data-boxid="<%= box_id %>">
            <%- include('partials/box') %>
            <%- include('partials/share-card') %>
        </div>
        <script src="/js/idbox.js"></script>
</body>
</html>