<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LPY9Z1R57Z');
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="İngilizce kelime dağarcığınızı genişletmek için özel olarak tasarlanmış kelime kutuları oluşturmanıza veya mevcut kutularla kendinizi test etmenize olanak tanır.">
    <meta name="og:keywords" content="kelime, kutu, İngilizce öğrenme, kelime testleri, dil öğrenme, kelime oyunları,kutukutukelime, kişiye özel kelime, ingilizce türkçe kelime kutusu, wordbox">
    <meta name="og:description" content="İngilizce kelime dağarcığınızı genişletmek için özel olarak tasarlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Oluşturduğum kelime kutusuna bakmak ister misin?">
    <meta property="og:description" content="İngilizce kelime dağarcığınızı genişletmek için özel olarak tasarlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.">
    <meta property="og:image" content="/images/tra.webp" >
    <meta property="og:url" content="https://www.kutukutukelime.com">

    <link rel="icon" href="/images/box.webp" >
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/idbox.css">

    <title>İngilizce-Türkçe Kelime Kutuları - Kelime Öğrenin - kutukutukelime</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container-box" id="data-container" data-boxid="<%= box_id %>">
            <%- include('partials/box') %>
            <%- include('partials/share-card') %>
        </div>
        <script src="/js/idbox.js"></script>
</body>
</html>