<!DOCTYPE html>
<html lang="tr">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LPY9Z1R57Z');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
        crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta name="og:keywords"
        content="kelime, kutu, İngilizce öğrenme, kelime testleri, dil öğrenme,kelime çalışması, kelime oyunları,kutukutukelime, kişiye özel kelime, ingilizce türkçe kelime kutusu, wordbox, kelime bilgisi testi, ingilizce kelime testi, ingilizce kelime seviye testi,kutu,kelime yarışması,yarışma,ingilizce kelime yarışması,rekabet">
    <meta name="og:description"
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kelime Yarışmaları ve Eğlenceli Testlerle İngilizce Bilginizi Artırın!">
    <meta property="og:description"
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta property="og:image" content="/images/tra.webp">
    <meta property="og:url" content="https://www.kutukutukelime.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Kelime Yarışmaları ve Eğlenceli Testlerle İngilizce Bilginizi Artırın!">
    <meta name="twitter:description" 
        content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <link rel="icon" href="/images/box.webp">
    <link rel="stylesheet" type="text/css" href="/css/learn-level.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
    <title>İngilizce Kelime Bilgini Test Et - kutukutukelime</title>
    <link rel="canonical" href="https://www.kutukutukelime.com/kategori_verb"/>
</head>

<body>
    <%- include('partials/navbar') %>
        <main class="container-learn">
            <h1>Kelime Seviyeni Öğren!</h1>
            <%- include('partials/box') %>
            <%- include('partials/share-card') %>
            <div id="gameModal-i" class="modal-i">
                <div class="modal-content-i">
                    <span class="close-i">&times;</span>
                    <h2>Oyun Kuralları</h2>
                    <ul>
                        <li>Kelime testi 20 sorudan oluşur ve seviyenizi belirler.</li>
                        <li>A seviyesinden 9, B seviyesinden 6 ve C seviyesinden 5 kelime sorulacaktır.</li>
                        <li>Kelimeler rastgele gelir, Türkçe ya da İngilizce olabilir.</li>
                        <li>Her seviye için özel puanlama sistemi uygulanır.</li>
                        <li>Kutudaki 'click' kısmına tıklayarak yeni sorunuzu getirebilirsiniz.</li>
                        <li>Testi tamamladıktan sonra seviyenize uygun kelime kutularına erişebilirsiniz.</li>
                    </ul>
                    <p>Unutmayın, dil öğrenimi sürekli bir yolculuktur. İlerleyişinizi görmek için testi tamamlayın ve dil becerilerinizi geliştirmeye devam edin!</p>
                    <button id="startGame-i">Oyunu Başlat</button>
                </div>
            </div>
        </main>
        <script src="/js/learn-level.js"></script>
</body>
</html>

<style>
    .modal-i {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content-i {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #333;
    max-height: 90vh; /* Maksimum yüksekliği ekrana sığacak şekilde ayarlıyoruz */
    overflow-y: auto; /* İçeriği kaydırılabilir yapıyoruz */
}

@media (max-width: 600px) {
    .modal-content-i {
        padding: 15px;
    }
}
@media (max-width: 395px) {
    .modal-content-i {
        padding: 10px;
        max-height: 75vh;
        margin-top: 20%;

    }
}
@media (max-width: 335px) {
    .modal-content-i {
        padding: 10px;
        max-height: 75vh;
        margin-top: 30%;
    }
}
.modal-content-i h2 {
    color: #E5A601;
}

.modal-content-i ul {
    text-align: left;
    margin-top: 10px;
}

.modal-content-i ul li {
    margin-bottom: 8px;
}

.modal-content-i button {
    background-color: #E5A601;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content-i button:hover {
    background-color: #d19400;
}

.close-i {
    color: #aaa;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-i:hover {
    color: #000;
}

</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var modal = document.getElementById("gameModal-i");
    var closeBtn = document.querySelector(".close-i");
    var startBtn = document.getElementById("startGame-i");

    modal.style.display = "flex";

    closeBtn.onclick = function() {
        modal.style.display = "none";
    };

    startBtn.onclick = function() {
        modal.style.display = "none";
    };

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
});

</script>