<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LPY9Z1R57Z');
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <meta name="description"         content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta name="og:description"         content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta name="og:keywords"  content="kelime, kutu, İngilizce öğrenme, kelime testleri, dil öğrenme,kelime çalışması, kelime oyunları,kutukutukelime, kişiye özel kelime, ingilizce türkçe kelime kutusu, wordbox, kelime bilgisi testi, ingilizce kelime testi, ingilizce kelime seviye testi,kutu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kişiye Özel ing-tr Kelime Kutuları">
    <meta property="og:description"         content="İngilizce kelime dağarcığınızı geliştirmek için özenle tasarlanmış kelime kutuları oluşturun ve mevcut kutularla kendinizi test edin. Kelime yarışmalarına katılarak arkadaşlarınızla eğlenceli bir şekilde rekabet edin! Ayrıca, sitemizde bulunan Kelime Seviye Testi ile kelime bilginizi kapsamlı bir şekilde değerlendirin ve ilerlemenizi takip edin. Hedeflerinize ulaşmak ve dil becerilerinizi artırmak için bu fırsatları kaçırmayın!">
    <meta property="og:image" content="/images/tra.webp" >
    <meta property="og:url" content="https://www.kutukutukelime.com">

    <link rel="icon" href="/images/box.webp" >
    <link rel="stylesheet" type="text/css" href="/css/mybox.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
    <title>Kelime Kutunu Oluştur - Kelime Öğrenin</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container-mybox">
            <h2 id="title_box">Kendi Kelime Kutunu Oluştur!</h2>
            <div class="input-section" id="input-section">
                <input type="text" id="englishWord" placeholder="English Word">
                <input type="text" id="turkishWord" placeholder="Turkish Word">
                <button id="addButton">Add Box</button>
                <button id="startButton">Start</button>
            </div>
            <div class="basket" id="basket">
                <h2>Word List</h2>
                <ul id="wordList"></ul>
            </div>
        </div>
        <%- include('partials/routes') %>

        <script src="/js/mybox.js?v=1.1"></script>
</body>
</html>