<!DOCTYPE html>
<html lang="tr">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LPY9Z1R57Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-LPY9Z1R57Z');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9918689262702859"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    script-src 'self' https://www.google-analytics.com https://pagead2.googlesyndication.com https://ep2.adtrafficquality.google; 
    style-src 'self' 'unsafe-inline'; 
    img-src 'self' https://pagead2.googlesyndication.com; 
    connect-src 'self' https://www.google-analytics.com https://pagead2.googlesyndication.com https://ep1.adtrafficquality.google; 
    frame-src 'self' https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://www.google.com; 
    child-src 'self' https://googleads.g.doubleclick.net https://tpc.googlesyndication.com https://www.google.com;">
    <meta name="description"
        content="İngilizce kelime dağarcığınızı genişletmek için özenle hazırlanmış kelime kutuları oluşturmanıza ve mevcut kutularla kendinizi test etmenize olanak tanır.Ayrıca, sitemizde yer alan Kelime Seviye Testi ile mevcut kelime bilginizi değerlendirebilirsiniz.">
    <title>Gizlilik Politikası - kutukutukelime </title>
    <link rel="icon" href="/images/box.webp">
    <link rel="stylesheet" href="/css/privacy.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-free-6.6.0-web/css/all.min.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <header>
            <h1>Gizlilik Politikası</h1>
            <p>Web sitemizi ziyaret ettiğiniz için teşekkür ederiz. Gizliliğiniz bizim için son derece önemlidir ve bu politika, kişisel verilerinizin nasıl toplandığını, kullanıldığını ve korunduğunu açıklamaktadır.</p>
        </header>

        <section>
            <h2>Topladığımız Bilgiler</h2>
            <p>Web sitemizi ziyaret ettiğinizde, birkaç farklı türde bilgi toplayabiliriz. Bu bilgiler, doğrudan sizin tarafınızdan sağlanan bilgiler veya otomatik olarak toplanan veriler olabilir. Örneğin:</p>
            <ul>
                <li><strong>Kişisel Bilgiler:</strong> İsim, e-posta adresi, iletişim bilgileri gibi bize gönüllü olarak sunduğunuz bilgiler.</li>
                <li><strong>Otomatik Bilgiler:</strong> Çerezler, tarayıcı bilgileri, IP adresi, ziyaret süresi ve gezilen sayfalar gibi web sitesi kullanımınıza dair veriler.</li>
                <li><strong>Analiz Verileri:</strong> Sitemizi nasıl kullandığınız ve hangi içeriklerle daha çok etkileşimde bulunduğunuz gibi kullanıcı davranışlarına yönelik anonim veriler.</li>
            </ul>
        </section>

        <section>
            <h2>Verilerin Kullanımı</h2>
            <p>Topladığımız veriler, kullanıcı deneyiminizi geliştirmek, hizmetlerimizi iyileştirmek ve size daha kişiselleştirilmiş bir deneyim sunmak amacıyla kullanılır. Bu kapsamda veriler şu amaçlarla kullanılabilir:</p>
            <ul>
                <li>Kullanıcı hesaplarının yönetimi ve kayıt süreçlerinin gerçekleştirilmesi.</li>
                <li>İçeriklerin ve hizmetlerin kullanıcıya göre optimize edilmesi.</li>
                <li>Analiz ve araştırma amacıyla kullanıcı davranışlarının izlenmesi.</li>
                <li>Hataların giderilmesi, güvenlik açıklarının tespit edilmesi ve genel site performansının artırılması.</li>
            </ul>
        </section>

        <section>
            <h2>Çerezler</h2>
            <p>Çerezler, web tarayıcınıza kaydedilen küçük veri dosyalarıdır. Bu dosyalar, web sitemizi ziyaret ettiğinizde deneyiminizi kişiselleştirmemize ve daha hızlı bir hizmet sunmamıza yardımcı olur. Çerezler, şu amaçlarla kullanılabilir:</p>
            <ul>
                <li>Kullanıcı tercihlerini hatırlamak ve size daha kişiselleştirilmiş bir deneyim sunmak.</li>
                <li>Web sitesi performansını analiz etmek ve iyileştirmek.</li>
                <li>Üçüncü taraf reklam hizmetleri tarafından hedeflenmiş reklamların gösterilmesini sağlamak.</li>
            </ul>
            <p>Tarayıcı ayarlarınızı değiştirerek çerez kullanımını devre dışı bırakabilirsiniz. Ancak bu durumda web sitemizin bazı özelliklerinin doğru çalışmayabileceğini unutmamalısınız.</p>
        </section>

        <section>
            <h2>Üçüncü Taraf Hizmetler</h2>
            <p>Web sitemizde, Google AdSense gibi üçüncü taraf hizmet sağlayıcılarla çalışıyoruz. Bu hizmet sağlayıcılar, reklam gösterimleri ve kullanıcı etkileşimlerini izlemek amacıyla çerezler veya benzeri teknolojiler kullanabilir. Google AdSense, kullanıcıların ilgi alanlarına göre reklamlar sunar ve bu süreçte toplanan veriler üzerinde bizim kontrolümüz bulunmamaktadır. Üçüncü taraf hizmetlerin gizlilik politikalarını incelemenizi tavsiye ederiz.</p>
            <p>Bizimle etkileşimde bulunduğunuzda veya üçüncü taraf hizmetleri kullandığınızda kişisel bilgilerinizin nasıl işlendiği konusunda daha fazla bilgi edinmek için bu hizmet sağlayıcıların gizlilik politikalarına göz atabilirsiniz.</p>
        </section>

        <section>
            <h2>Verilerin Korunması</h2>
            <p>Kullanıcı bilgilerinizin güvenliği bizim için önceliklidir. Bu nedenle, kişisel verilerinizi korumak için endüstri standardı olan güvenlik önlemlerini kullanıyoruz. Ancak, internet üzerinde hiçbir veri iletiminin veya depolama yönteminin tamamen güvenli olmadığını bilmenizi isteriz. Kişisel bilgilerinizin korunması için elimizden geleni yapıyoruz, ancak tam güvenlik garanti edilemez.</p>
        </section>

        <section>
            <h2>Gizlilik Politikasında Değişiklikler</h2>
            <p>Bu gizlilik politikası, zaman zaman değiştirilebilir. Herhangi bir değişiklik yaptığımızda, yeni politikayı bu sayfada yayınlayacağız. Bu nedenle, gizlilik politikamızda yapılacak güncellemeleri düzenli olarak kontrol etmenizi öneririz. Güncellenen politikaların yürürlük tarihi sayfanın üst kısmında belirtilecektir.</p>
        </section>

        <footer>
            <p>&copy; 2024 - Tüm Hakları Saklıdır. | <a href="mailto:info@kutukutukelime.com">info@kutukutukelime.com</a></p>
        </footer>
    </div>
</body>
</html>
