body {
    margin: 0;
}
.container {
    margin: 200px 0px 60px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1{
    color: #2c3e50;
    font-size: 28px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 25px 0;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px 25px 10px;
    text-align: center;
    transition: transform 0.3s;
    width: min-content;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}


.box {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(20deg);
    transition: transform 0.5s;
}

.box:hover {
    transform: rotateX(0deg) rotateY(0deg);
}

.face {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.face.front  { transform: translateZ(60px); }
.face.back   { transform: rotateY(180deg) translateZ(60px); }
.face.left   { transform: rotateY(-90deg) translateZ(60px); }
.face.right  { transform: rotateY(90deg) translateZ(60px); }
.face.top    { transform: rotateX(90deg) translateZ(60px); }
.face.bottom { transform: rotateX(-90deg) translateZ(60px); }

.color1 .face { background: linear-gradient(45deg, #5be2e2, #4dd0d0); }
.color2 .face { background: linear-gradient(45deg, #4da2db, #4b94d2); }
.color3 .face { background: linear-gradient(45deg, #206b9d, #1f638f); }
.color4 .face { background: linear-gradient(45deg, #f1c40f, #eab907); }
.color5 .face { background: linear-gradient(45deg, #f39c12, #e89210); }
.color6 .face { background: linear-gradient(45deg, #e67e22, #d9711d); }
.color7 .face { background: linear-gradient(45deg, #da607a, #d15769); }
.color8 .face { background: linear-gradient(45deg, #e53f3f, #d83838); }
.color9 .face { background: linear-gradient(45deg, #841d11, #7a1b10); }
.color10 .face { background: linear-gradient(45deg, #7d5fff, #7156e6); }
.color11 .face { background: linear-gradient(45deg, #854d7b, #7c476f); }
.color12 .face { background: linear-gradient(45deg, #1d2a36, #1a2530); }
.color13 .face { background: linear-gradient(45deg, #374c61, #324457); }
.color14 .face { background: linear-gradient(45deg, #561472, #4e1266); }
.color15 .face { background: linear-gradient(45deg, #1f6b26, #1c6022); }
.color16 .face { background: linear-gradient(45deg, #716cbe, #6661ad); }
.color17 .face { background: linear-gradient(45deg, #b5b416, #a9a214); }
.color18 .face { background: linear-gradient(45deg, #b3186b, #a11661); }
.color19 .face { background: linear-gradient(45deg, #27bc36, #23a730); }
.color20 .face { background: linear-gradient(45deg, #6423aa, #5b2098); }
.color21 .face { background: linear-gradient(45deg, #3a5353, #354c4c); }

.cards p {
    font-family: "Times New Roman", serif;
    margin: 40px 0 12px;
    font-size: 16px;
    min-width: 185px;
}
.separator {
    width: 30%;
    height: 1px;
    background-color: #E5A601;
    margin: 20px 0;
}

.container h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test-level-btn {
    display: inline-block;
    margin: 5px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.test-level-btn:hover {
    background-color: #E5A601;
    transform: translateY(-2px);
}

.test-level-btn:active {
    transform: translateY(0);
}
@media (max-width: 600px) {
    .container {
        margin: 120px 0px 40px; 
        padding: 0 10px;
    }
    .test-level-btn {
        margin: 2px;
        padding: 10px 8px;
        font-size: 15px;
        font-weight: 400;
    }
    .container h1 {
        font-size: 18px !important;
        margin: 20px 0;
        padding: 0 15px;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 20px 0;
    }
    .card {
        width: 88%;
        padding: 15px 10px 0;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .box {
        width: 60px;
        height: 100px;
    }
    .face {
        width: 60px;
        height: 60px;
        font-size: 15px;
    }

    .cards p {
        margin: 10px 0;
        font-size: 14px;
        min-width: 160px;
    }
    .face.front  { transform: translateZ(30px); }
    .face.back   { transform: rotateY(180deg) translateZ(30px); }
    .face.left   { transform: rotateY(-90deg) translateZ(30px); }
    .face.right  { transform: rotateY(90deg) translateZ(30px); }
    .face.top    { transform: rotateX(90deg) translateZ(30px); }
    .face.bottom { transform: rotateX(-90deg) translateZ(30px); }

    .separator {
        width: 60%;
        margin: 10px 0;
    }
}
@media (max-width: 1050px) {
    .separator {
        width: 50%;
        margin: 12px 0;
    }
    .container {
        width: 95%;
    }
    .container h1 {
        font-size: 26px;
        text-align: center;
    }
}